%p= "Items in Cart: #{current_cart.cart_items.size}"
%ul
  - @categories.each do |category|
    %li=link_to category.title.capitalize, category_path(category.id)
%ul
  - @products.each do |product|
    %ul
      %li= "Title: #{product.title}"
      %li= "Description: #{product.description}"
      %li= "Price: #{product.price}"
      %li= link_to 'Add to Cart', cart_items_path(:product_id => product), method: :post